<template>
  <div class="Home">
    <div class="header">
      <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/ee037401cb5d31b23cf780808ee4ec1f.svg" alt="" />
      
      <div class="wrapper-input">
        <input v-model="user_search_restaurant" type="text" placeholder="De quoi avez vous envie?" />
        <div class="search">
          <router-link v-for="(restaurant, i) in searchRestaurant" :key="i" :to="{name: 'Restaurant', params: { name: restaurant.name }}">
            <div class="container-restaurant-search">
            <div class="wrapper-img">
              <img :src="restaurant.image" alt="">
            </div>
            <p> {{ restaurant.name }}</p>
          </div>
          </router-link>
        </div>
      </div>

    </div>

    <restaurant-row v-for="(data, i) in data_restaurant" :key="i" :three_restaurants="data" />

  </div>

</template>

<script>
//IMPORT BDD
import BDD from "../BDD.js";
import { onMounted, ref, watch } from "vue";

// COMPONENTS
import RestaurantRow from "../components/RestaurantRow.vue";
export default {
  name: "HomePage",
  components: {
    RestaurantRow,
  },
  setup() {
    class Restaurant {
      constructor(name, note, image, drive_time) {
        this.name = name;
        this.note = note;
        this.image = image;
        this.drive_time = drive_time;
      }
    }
    let data_restaurant = ref([]);
    let all_restaurants = [];

    const makeDataRestaurant = () => {
      let three_restaurants = [];

      for (const restaurant of BDD) {
        const new_restaurant = new Restaurant(
          restaurant.name,
          restaurant.note,
          restaurant.image,
          restaurant.drive_time
        );

        // Tableau de tous les restaurants
        all_restaurants.push(new_restaurant);

        if (three_restaurants.length === 2) {
          three_restaurants.push(new_restaurant);
          data_restaurant.value.push(three_restaurants);
          three_restaurants = [];
        } else {
          three_restaurants.push(new_restaurant);
        }
      }
    };

    // User Recherche Restaurant
    let user_search_restaurant = ref("");
    let searchRestaurant = ref([]);

    watch(user_search_restaurant, (newValue) => {
      let regex = RegExp(newValue.toLowerCase());
      let NewSearchRestaurant = all_restaurants.filter((restaurant) =>
        regex.test(restaurant.name.toLowerCase())
      );
      searchRestaurant.value = NewSearchRestaurant;

      newValue == 0 ? searchRestaurant.value = [] : searchRestaurant.value = NewSearchRestaurant
    });

    onMounted(makeDataRestaurant);

    // Return
    return {
      data_restaurant,
      user_search_restaurant,
      searchRestaurant,
    };
  },
};
</script>

<style lang="scss">
.Home {
  .header {
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 200px;
    }
    .wrapper-input {
      position: relative;
      input {
        background-color: #f6f6f6;
        border: none;
        height: 60px;
        width: 400px;
        outline: none;
        padding-left: 20px;
      }
      .search {
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: #fff;

        .container-restaurant-search {
          display:flex;
          align-items: center;
          padding: 10px;

          &:hover {
            background: #f6f6f6;
          }

          .wrapper-img {
            height: 60px;
            width: 60px;
            margin-right: 25px;
            border-radius: 50%;
            overflow:hidden;

            img {
              height: 100%;
              width: auto;
            }
          }
        }
      }
    }
  }
}
</style>
