<template>
  <router-link to="/">
  <div id="return">Retour à la page d'accueil
  </div> 
</router-link>
  <div>
    <img :src="restaurant.image" alt="">
  </div>
  <p>{{ restaurant.name }}</p>
  <p>Note du restaurant : {{ restaurant.note }}</p>
  <p>Temps de livraison : {{ restaurant.drive_time }}</p>
</template>

<script>
// IMPORT
import BDD from "../BDD.js";
import { useRoute } from "vue-router";


export default {
  // eslint-disable-next-line
  name: "Restaurant",
  setup() {
    const route = useRoute();
    const restaurant = BDD.find((restaurant) => restaurant.name === route.params.name)
   
    return {
      restaurant
    }
  },
};
</script>

<style lang="scss" scoped>
  #return {
    margin: 25px 45px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none !important;
    color: black;

    &:hover {
      font-weight: 900;
    }
  }
</style>
